        /* Sticky footer styles
-------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 95px;
            /* Margin bottom by footer height */
        }

        p {
            text-align: justify;
        }

        /* From cssbuttons.io by @e-coders */
        .bts button {
            appearance: none;
            background-color: #FAFBFC;
            border: 1px solid rgba(27, 31, 35, 0.15);
            border-radius: 6px;
            box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
            box-sizing: border-box;
            color: #24292E;
            cursor: pointer;
            display: inline-block;
            font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
            font-size: 14px;
            font-weight: 500;
            line-height: 15px;
            list-style: none;
            padding: 6px 16px;
            position: relative;
            transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            white-space: nowrap;
            word-wrap: break-word;
        }

        button:hover {
            background-color: #F3F4F6;
            text-decoration: none;
            transition-duration: 0.1s;
        }

        button:disabled {
            background-color: #FAFBFC;
            border-color: rgba(27, 31, 35, 0.15);
            color: #959DA5;
            cursor: default;
        }

        button:active {
            background-color: #EDEFF2;
            box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
            transition: none 0s;
        }

        button:focus {
            outline: 1px transparent;
        }

        button:before {
            display: none;
        }

        button:-webkit-details-marker {
            display: none;
        }

        .bts button {
            width: 100%;
            margin: 5px 0px;
        }

        .std_btn {
            /*            box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;*/
            /*            box-shadow: inset #f44336 -9px 12px 10px 11px, #f44336 0 1px 0 inset !important;*/
            box-shadow: inset #198fff 1px 0px 10px 0px !important;
        }

        .limit1130 {
            margin-right: auto;
            margin-left: auto;
            max-width: 1130px;
        }

        .dark-gray {
            background-color: #e9ecef;
        }

        .footer {
            position: absolute;
            bottom: 0;
            height: 75px;
            width: 100%;
            max-width: 1130px;
            margin: 0;
        }

        #banner .row {
            background-color: #2e3e80;
            padding: 20px 0;
            margin-bottom: 20px;
        }

        /*        #banner */
        h1,
        h2 {
            font-family: "Georgia", Times, serif;
            letter-spacing: .2rem;
        }

        #banner .col-lg-6 {
            text-shadow: 0 0 1rem rgb(0 0 0 / 75%);
            color: white;
        }


        table.projectTable {
            width: 100%;
        }

        table.projectTable td {
            border: 1px solid black;
            padding: 10px;
        }

        table.projectTable tr > td:first-child {
            background-color: #2e3e80;
            color: white;
            font-weight: bold;
        }
